<ion-app>
  <ion-menu contentId="main-content" [side]="'end'">

    <ion-content>
      <ion-menu-toggle>
        <ion-list lines="full">
          @if(!isLoggedIn()){
          <ion-item href="/login" router-direction="root">
            Log in
          </ion-item>
          }
          @if(isLoggedIn()){
          <ion-item href="/calendar" router-direction="root">
            Calendar
          </ion-item>
          }

          <ion-item href="/all-recipies" router-direction="root">
            All Recipies
          </ion-item>
        </ion-list>

      </ion-menu-toggle>

    </ion-content>
  </ion-menu>
  <div id="main-content" class="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <app-filters-wrapper></app-filters-wrapper>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="main-header">
            <ion-img class="logo" src="../assets/images/humster_sm.png"></ion-img>
            <div class="title">
              <div class="title-main">Cookster</div>
              <div class="title-sub">Organize your cooking!</div>
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>

</ion-app>